<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>

            <p class="paragraph-text justify-text">
                I’d love to hear from you! Whether you're exploring collaborations, want to chat about marketing analytics, or just want to connect—feel free to reach out.
            </p>

            <p class="paragraph-text justify-text">
                LinkedIn: <a href="https://www.linkedin.com/in/kaylyn-nguyen/" target="_blank" rel="noopener noreferrer">https://www.linkedin.com/in/kaylyn-nguyen/</a>
            </p>

            <p class="paragraph-text justify-text">
                GitHub: <a href="https://github.com/KaylynNguyen97" target="_blank" rel="noopener noreferrer">https://github.com/KaylynNguyen97</a>
            </p>

            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/KaylynNguyen97" target="_blank" rel="noopener noreferrer">
                        <i class="head-icon fab fa-github"></i>
                    </a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="LinkedIn">
                    <a href="https://www.linkedin.com/in/kaylyn-nguyen/" target="_blank" rel="noopener noreferrer">
                        <i class="head-icon fab fa-linkedin"></i>
                    </a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Medium">
                    <a href="https://medium.com/@ktnnguy" target="_blank" rel="noopener noreferrer">
                        <i class="head-icon fab fa-medium"></i>
                    </a>
                </span>
            </div>
        </div>
    </section>
</div>
