<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>

            <p class="paragraph-text justify-text">
                I’d love to hear from you! Whether you're exploring collaborations, want to chat about marketing analytics, or just want to connect—feel free to reach out.
            </p>

            <p class="paragraph-text justify-text">
                Email: <a href="mailto:kaylyn.t.nguyen@gmail.com">kaylyn.t.nguyen@gmail.com</a>
            </p>

            <p class="paragraph-text justify-text">
                Resume: <a href="https://kaylynnguyen.medium.com/resume.pdf" target="_blank">PDF</a>
            </p>

            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/KaylynNguyen97" target="_blank">
                        <i class="head-icon fab fa-github"></i>
                    </a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="LinkedIn">
                    <a href="https://www.linkedin.com/in/kaylynnguyen97" target="_blank">
                        <i class="head-icon fab fa-linkedin"></i>
                    </a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Medium">
                    <a href="https://medium.com/@ktnnguy" target="_blank">
                        <i class="head-icon fab fa-medium"></i>
                    </a>
                </span>
            </div>
        </div>
    </section>
</div>
